 <!-- <div class="container">
  <div class="row gx-5>"

    @for(item of products;track item.id){ 

   <div class="card" style="width: 18rem;">
    <img src="{{item.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"{{item.title}}</h5>
      <p class="card-text">{{item.description}}</p>
      <a href="#" class="btn btn-primary">ADD TO CART</a>
    </div>
  </div>}
  </div>-->



  <!--<div class="card" style="width: 18rem;">
    <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,dpr-2/static/img/product/360686/dot-and-key-vitamin-c-e-super-bright-sunscreen-spf-50-pa-50-g-51_11_display_1718344084_2b136161.jpg
" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OFFERS</h5>
      <p class="card-text">NEW LAUNCH</p>
      <a href="#" class="btn btn-primary">ADD TO CART</a>
    </div>
  </div>-->

  


  
