<img src="https://media6.ppl-media.com/static/purplle/img/purplle-logo-1.svg" style="margin-left:45%;">
<app-carousel></app-carousel>
<app-img></app-img>
<app-accordion></app-accordion>
<app-images></app-images>
<br><br><br><br><br><br>
<app-footer></app-footer>


<!-- <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1724321285_web_2-copy-2-3.jpg" class="img-fluid" alt="...">
<img src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1724153757_goodvibes_web-3.jpg" class="img-fluid" alt="...">
<img src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1724245209_bestsellers_web.jpg" class="img-fluid" alt="...">
<img src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1724247219_aclt_dr-sheth-combo-under-599-thick-strip-web.jpg" class="img-fluid" alt="..."> -->

<!-- <div class="text-center">
    <button type="button" class="btn btn-primary">more</button>  
  </div>
<div class="amazon">
    <div class="row">
      <div class="col">
        <br><br>
        <img src="https://tse2.mm.bing.net/th?id=OIP.2PEErX9FdMGgx-iYY6J8rwHaHa&pid=Api&P=0&h=180" style="height: 1000px;">
        <br><br>
    <h2>GET TO KNOW US</h2><br>
    <br><p>nest
    <br>home<br><br>contact<br>contactus<br>aboutus<br>more..</p></div>
    <div class="col">
      <br><br><br><br>
      <h1>CONNECT WIth US</h1>
      <br>
      <p>Facebook<br>youtube<br>twitter<br>instagram</p>
    </div>
    <div class="col">
      <br><br><br><br>
      <h1>MAKE MONEY WITH US</h1>
      <br>
      , <p> Sell on Amazon <br>
        Sell under Amazon Accelerator <br>
        Protect and Build Your Brand <br>
        Amazon Global Selling <br>
        Become an Affiliate <br>
        Fulfilment by Amazon <br>
        Advertise Your Products <br>
        Amazon Pay on Merchants</p>
    </div>
  </div>

   
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div> -->
